.App {
  text-align: center;
  background-color: rgb(250, 196, 114);
  background-size: cover;
  height: 100vh;
}
/* .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #e69d9d;
} */

.card {
  
    background-color: rgb(250, 196, 114);
    display: inline-flex;
  
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgb(250, 196, 114);
}
.App-header {
  /* background-color: #222; */
  /* background-color: rgb(250, 196, 114);
  height: 150px;
  padding: 20px; */
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
#bottom {
  position: fixed; 
  bottom: 8%;
  text-align: center;

}
footer {
  position: absolute; 
  bottom: 0;
  
}

#productimage {
  width: 300px;
  height: 350px
}

#footer1 {
  position: absolute; 
  bottom: 0;
  
}